@using PagedList;
@using PagedList.Mvc;
@model IPagedList<AgendaMVC.Models.customers>



@{
    ViewBag.Title = "CustomerList";
}

<h2>Liste client</h2>
@using (Html.BeginForm("CustomerList", "Customers", FormMethod.Get))
{   

    <div class="input-group my-3 ">
        
            @Html.DropDownList("searchBy", null, new { @class = "form-select" })
            @Html.TextBox("search", "", new { @class = "form-control" })
            <input class="btn search" type="submit" value="Rechercher" />        
    </div> 
}

@if (TempData["SuccessMessage"] != null)
{
    <div class="successMessage">
        @TempData["SuccessMessage"]
    </div>
}
<p class="linkList">
    @Html.ActionLink("Ajouter un client", "AddCustomer")
</p>
<div class ="otable">
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.First().lastname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().firstname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().mail)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().phoneNumber)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.lastname)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.firstname)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.mail)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.phoneNumber)
                </td>
                <td>
                    @Html.ActionLink("Editer", "EditCustomer", new { id = item.idCustomer }) |
                    @Html.ActionLink("Profil", "ProfilCustomer", new { id = item.idCustomer }) |
                    @Html.ActionLink("Supprimer", "DeleteCustomer", new { id = item.idCustomer }, new { onclick = "return confirm('Voulez-vous supprimer ce client de la liste ?')" })

                </td>
            </tr>
        }

    </table>
</div>

@Html.PagedListPager(Model, page => Url.Action("CustomerList", new { page, searchBy = Request.QueryString["searchBy"], search = Request.QueryString["search"] }), new PagedListRenderOptions() { Display = PagedListDisplayMode.IfNeeded })