@model IEnumerable<AgendaMVC.Models.appointments>

<p>
    @Html.ActionLink("Ajouter un rendez-vous", "AddAppointment")
</p>
@if (TempData["SuccessMessage"] != null)
{
    <div class="successMessage">
        @TempData["SuccessMessage"]
    </div>
}
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.dateHour)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.subject)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.idBroker)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.idCustomer)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model) 
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.dateHour)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.subject)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.brokers.lastname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.customers.lastname)
            </td>
            <td>
                @Html.ActionLink("Edit", "EditAppointment", new { id = item.idAppointment }) |
                @Html.ActionLink("Détail", "ProfilAppointment", new { id = item.idAppointment } ) |
                @Html.ActionLink("Supprimer", "DeleteAppointment", new { id = item.idAppointment }, new { onclick = "return confirm('Voulez-vous supprimer ce rendez-vous de la liste ?')" })
            </td>
        </tr>
    }

</table>
